
        <article class="article">
            <header>
                <div class="jumbotron">
                    <div class="jumbotron-darken">
                        <div class="vertical-center">
                            <div class="container-fluid text-center">
                                <h1 class="headline"><%= page.title %></h1>
                            </div>
                        </div>
                    </div>
                    <img class="background" src="<%= url_for(page.path) %>header.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <h2 class="subtitle"><?= article_custom_field('subtitle'); ?></h2>
                            <dl class="dateline">
                                <dt>Posted </dt>
                                <dd><time pubdate datetime="<?= date(DATE_W3C, article_time()); ?>" title="<?= date('m/d/Y', article_time()); ?> (<?= relative_time(article_time()); ?>)"><?= article_date(); ?></time></dd>
                                <dt>by </dt>
                                <dd rel="author"><a href="https://twitter.com/finnwea" target="_blank" rel="noopener" title="Twitter: @finnwea"><?= article_author('real_name'); ?></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </header>
            <section class="container article-content" id="article-<?php echo article_id(); ?>">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <?php echo article_markdown(); ?>
                    </div>
                </div>
            </section>
        </article>
