.footer {
    padding: 15px 0px;

    text-align: center;

    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;

    .center {
        text-align: center;
        font-size: 11px;
        color: #4a4a4a;

        .details {
            margin-bottom: 0px;
        }

        .made-in-holland {
            margin-bottom: 0px;

            img {
                margin: 0px 2px;
                height: 25px;
            }
        }
    }
}