Header add X-Frame-Options "deny"
Header add X-Content-Type-Options "nosniff"
Header add Referrer-Policy "no-referrer"
Header add Content-Security-Policy "default-src 'none'; img-src 'self'; style-src 'self'"
Header add Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

ServerSignature Off
DirectoryIndex index.html rss.xml

# Allow only GET and HEAD
<LimitExcept GET HEAD>
  Order Allow,Deny
  Deny from all
</LimitExcept>

# Asset expiration date
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 5 years"
</IfModule>

RewriteEngine On

# Remove www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,L]

# Disable access via index.html
RewriteRule ^index\.html$ - [L,R=404]
RewriteRule ^(.*)/index\.html$ - [L,R=404]

# Block direct access to rss.xml
RewriteRule ^rss\.xml$ - [L,R=404]
RewriteRule ^(.*)/rss\.xml$ - [L,R=404]

# Try SSL on production
RewriteCond %{HTTP_HOST} ^finnwea.com$
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove multiple slashes
RewriteCond %{THE_REQUEST} \s/+(.*?)/{2,}([^\s]*)
RewriteRule ^ %1/%2 [R=302,L,NE]

# Redirect old slugs to the new slug
Redirect 301 /blog/xss-on-hema-nl-fr-be-gb-de-one-of-the-largest-dutch-franchisors /blog/xss-on-hema-one-of-the-largest-dutch-franchisors/
