Header add X-Frame-Options "deny"
Header add X-Content-Type-Options "nosniff"
Header add Referrer-Policy "no-referrer"
Header add Content-Security-Policy "default-src 'none'; img-src 'self'; style-src 'self'"

ServerSignature Off
DirectoryIndex index.html atom.xml

<LimitExcept GET HEAD>
  Order Allow,Deny
  Deny from all
</LimitExcept>

RewriteEngine On
RewriteBase /blog/public

# Remove www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,L]

# Disable access via index.html
RewriteRule ^index\.html$ - [L,R=404]
RewriteRule ^(.*)/index\.html$ - [L,R=404]

# Block direct access to atom.xml
RewriteRule ^atom\.xml$ - [L,R=404]
RewriteRule ^(.*)/atom\.xml$ - [L,R=404]

# Allow RSS access via /feeds/rss
#RewriteCond %{REQUEST_URI} ^/feeds/rss$ [NC]
#RewriteRule ^(.*)$ /atom.xml?q=$1&r=$2&a=%{DOCUMENT_ROOT}&b=%{REQUEST_URI}&c=%{REQUEST_FILENAME}&d=%{PATH} [L,R=301]

# Try SSL on production
RewriteCond %{HTTP_HOST} ^finnwea.com$
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]